body {
    font-family: Arial, sans-serif;
    background-color: #22d3eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Eliminar margen para centrar el contenido verticalmente */
}

.tarjetaREGISTRO {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}