body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#0011d0, #17a1fa);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.tarjetaREGISTRO {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 310px;
    text-align: left;
}

.botones {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 118px; 
    margin-top: 10px;
}