@charset "utf-8";

@charset "utf-8";
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

body{
     background: linear-gradient(#0011d0, #17a1fa);
     min-height: 100vh;
}

.menu-container{
     width: 1100px;
     margin: 0 auto;
     background-color: #a1c8e2;
     height: 50px;
     
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
}
 
#menu {
    display: none;
}

 .menu .barra ul a{
     font-size: 18px;
     padding: 20px;
     margin: 5px;
     color: rgb(14, 60, 121);
     display: flex;
     align-items: center;
 }
 .menu .barra ul li a:hover{
     color:  #248cd1;
 }

.titulo{
     display: flex;
     align-items: center;     
     justify-content: center;

     padding-top: 50px;
     margin-bottom: 10px;

}

/*.menu1{
     display: flex;
     justify-content: flex-end;
     
}*/
/*.menu1 p{
     background-color: #a1c8e2;
     height: 30px;
     width: 90;
     margin-top: 5px;
     margin-right: 5px;
     margin-bottom: 0px;
     padding-top: 5px;
     display: flex; 
}*/

/*.botonRegistrarse{
     border: solid;
     background-color: #a1c8e2;

     height: 30px;
     width: 90;

     margin-top: 5px;
     margin-right: 5px;
     margin-bottom: 0px;

     display: 15px;
}*/

/*.menu1 button{
     display: flex;
     margin: 0px;
    border: solid #a1c8e2;
}*/

.botonRegistrarse{
     border: solid;

     height: 30px;
     width: 90;

     display: 15px;
     padding: 10px;

     background-color: #9776dd;
     color: rgb(0, 90, 17);
     font-weight: bold;
     
     border-radius: 10px;
}
.botonRegistrarse:hover{
     transition: .5s;
     cursor: pointer;
     height: 35px;
     color: black;
     font-weight: bold;  
}

.tarjetaMadre{
     display: flex;
     align-items: center;     
     justify-content: center;
}

.tarjeta{
     background-color: #a1c8e2;

     display:flex;

     flex-direction:column;

     display:inline-block;

     justify-content:space-between;

     width:300px;

     border: 1px solid lightgray;

     box-shadow: 2px 2px 8px 4px #d3d3d3d1;

     border-radius:15px;

     font-family: sans-serif;
     
     margin: 50px;
     margin-top: 0px;
     margin-bottom: 0px;

}

.tituloT{

     font-size: 30px;

     padding: 10px 10px 0 10px;;

     
     display: flex;
     align-items: center;     
     justify-content: center;

}

.cuerpo{

     padding: 10px;

     border-color: black;

}

.pie{

     background: #6699ff;

     border-radius:0 0 15px 15px;

     padding: 10px;

     text-align:center;

}
.pie a{

     background-color: #a1c8e2;
     
     height: 30px;

     text-decoration: none;
     
     color: black;

}
.pie a:after {

     position: absolute;

     top: 0;

     right: 0;

     bottom: 0;

     left: 0;

     z-index: 1;

     content: ""

}
.pie button{ 

     height: 30px;

     text-decoration: none;

     /* background-color: #a1c8e2;
     color: black; */

     background-color: #9776dd;
     color: rgb(0, 90, 17);
     font-weight: bold;

     border-radius: 10px;
}
.pie button:hover{
     cursor: pointer;
     transition: .5s;
     height: 35px;
     color: black;
     font-weight: bold;  
}